html {
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  background-color: yellow;
}

#playAreaWrapper {
  height: 300px;
  position: relative;
  overflow: hidden;
}

#captain-1.captain {
  height: 100px;
  width: calc(1200px/12);
  background-image: url(assets/sprites/characters/captain/captain-idle-1.png);
}

#captain-2.captain {
  height: 100px;
  width: calc(1200px /12);
  background-image: url(assets/sprites/characters/captain/captain-idle-2.png);
}

#captain-3.captain {
  height: 100px;
  width: calc(1200px/12);
  background-image: url(assets/sprites/characters/captain/captain-idle-3.png);
}

#captain-4.captain {
  height: 100px;
  width: calc(1200px/12);
  background-image: url(assets/sprites/characters/captain/captain-idle-4.png);
  position: absolute;
  top: calc(100% - 100px);
}

@keyframes attack {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1200px;
  }
}

@keyframes attack-left {
  0% {
    background-position: 1200px;
  }
  100% {
    background-position: 0;
  }
}

@keyframes jump {
  0%,100%{
    top: calc(100% - 100px);
  }
  50% {
    top: 30%;
  }
}

#captain-4.captain.attack {
  background-image: url(assets/sprites/characters/captain/captain-4-attack.png);
  animation: attack 0.6s steps(12) 1;
}

#captain-4.captain.jump {
  background-image: url(assets/sprites/characters/captain/captain-idle-4.png);
  animation: jump 0.8s linear alternate-reverse;
}

#captain-4.captain.left {
  transform: scaleX(-1);
  background-image: url(assets/sprites/characters/captain/captain-idle-4.png);
}

#captain-4.captain.right {
  transform: scaleX(1);
  background-image: url(assets/sprites/characters/captain/captain-idle-4.png);
}
